.join-main .form-control {
	margin-bottom: 20px;
}

.join-main {
	text-align: center;
	padding: 10% 20%;
	background: var(--dark-color-b);
    border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input, .join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 60%;
    border-radius: 3px;

}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
    border: none;

}

.flex{
    display: grid;
    place-content: center;
}